main {
    margin: 0px 150px;
    font-family:sans-serif;
}

.nav-bar{
    height: 70px;
    background: #ffffff;
    font-size: 18px;  
    padding-bottom: 5px;  
}

.brand{
    float: left;
    position: absolute;
    padding-left: 20px;
    line-height: 70px;
    font-size: 1.5em;
}

/*.brand a{
    text-decoration: none;
    color: rgb(255, 251, 251);
}

.navbar li a.active {
    border-bottom: 2px solid rgb(234, 96, 17);
  }*/

.nav-container{
    max-width: 1200px;
    margin: 0 auto;
}

nav{
    float: right;
}


nav ul{
    list-style: none;
    display: flex;
  align-items: center;
  
}
.navbar img {
    margin-left: -30px;
    height: 65px;
    width: 350px;
  }

nav ul li{
    float: left;
    position: relative;
}
.navbar li a:hover::after {
    width: 100%;
  }
nav ul li a{
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background: #ffffff;
    text-decoration: none;
    color: #000000;
}

nav ul li ul li {
    min-width: 190px;
}

nav ul li ul li a{
    padding: 15px;
    line-height: 20px;
}

.nav-mobile{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
}

#nav-toggle{
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 15px 0px;
}

#nav-toggle span,
#nav-toggle span::before,
#nav-toggle span::after{
    position: absolute;
    display: block;
    content: '';
    background: #9e4141;
    height: 5px;
    width: 35px;
    transition: all 300ms ease-in-out;
}

#nav-toggle span::before{
    top: -10px;
}

#nav-toggle span::after{
    bottom: -10px;
}

#nav-toggle.active span{
    background-color: transparent;
}

#nav-toggle.active span::before, #nav-toggle.active span::after{
    top: 0;
}

#nav-toggle.active span::before{
    transform: rotate(45deg);
}

#nav-toggle.active span::after{
    transform: rotate(-45deg);
}

.nav-bar li a.active {
    border-bottom: 2px solid rgb(234, 96, 17);
  }
  .nav-bar li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    font-family:sans-serif;
    transition: 0.2s;
    font-size: 18px;
  }
  
  .nav-bar li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: rgb(234, 96, 17);
    transition: 0.2s;
  }
  
  .nav-bar li a:hover::after {
    width: 100%;
  }
  
  
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
  }
 
hr {
    border: 2px solid rgb(234, 96, 17);
  }
  
  body {
    text-align: center;
    font-family:sans-serif;
  }
  
  
.button-container {
    margin-top: 20px;
    text-align: center;
  }
  
  .button, .button2 {
    text-align: center;
    height: 30px;
    width: 180px;
    color: white;
    border: none;
    border-radius: 20px;
    display: inline-block;
    margin: 10px 10px;
    padding: 10px;;
    /*font-family: "Iosevka Web", monospace;*/
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    background: linear-gradient(45deg, #007BFF, #28A745);
    background-size: 200% 200%;
    animation: flowBackground 4s linear infinite;
  }
  
  @keyframes flowBackground {
    0% {
      background-position: 0% 100%;
    }
    100% {
      background-position: 100% 0%;
    }
  }
  
  .button2 {
    background: linear-gradient(45deg, #FF5733, #FFC300);
    background-size: 200% 200%;
    animation: flowBackground 4s linear infinite;
  }
  
  .button:hover, .button2:hover {
    transform: scale(1.05);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: pulse 1s infinite; /* Use pulse animation on hover */
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .button a, .button2 a{
    text-decoration: none;
  }
.side-column {
    display: flex;
    font-size: 25px;
    flex-direction: column;
    color: red;
    flex-wrap: wrap;
    margin: auto 40px;
    padding: 100px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  }
.side-column2 {
    columns: 2;
    color: rgb(236, 55, 55);
    padding: 100px;
    margin: 40px auto;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    -webkit-align-items: center;
    border-radius: 30px;
  
  }
  
  .side-column .items {
    color: rgb(131, 131, 211);
    align-self: center;
    flex-shrink: 1;
    flex-grow: 1;
    list-style: none;
  }
@media only screen and (max-width: 988px) {

    .nav-mobile{
        display: block;
    }

    nav{
        width: 100%;
        padding: 70px 0 15px;
    }

    nav ul{
        display: none;
    }

    nav ul li {
        float: none;
    }

    nav ul li a{
        padding: 15px;
        line-height: 20px;
        padding-left: 25%;
    }


    nav ul li ul li a{
        padding-left: 30%;
    }

    .nav-dropdown{
        position: static;
    }
}

@media screen and (min-width: 999px){
    .nav-list{
        display: block !important;
    }

}

.navbar {
    background-color: white;
    font-family:sans-serif;
    font-size: 22px;
    overflow: hidden;
    padding: 10px;
  }
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    text-align: center;
}

.navbar img {
    margin-left: -30px;
    height: 65px;
    width: 350px;
  }

.navbar li {
    list-style: none;
    margin-right: 0px;
}

.navbar li:last-child {
    margin-right: 0;
}

.navbar li a {
    padding: 25px 25px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    position: relative;
    font-family:sans-serif;
    transition: 0.2s;
    font-size: 22px;
}

.navbar li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: rgb(234, 96, 17);
    transition: 0.2s;
}

.navbar li a:hover::after {
    width: 100%;
}

hr {
    border: 2px solid rgb(234, 96, 17);
}

/*.nameofdept {
    font-size: 20px;
    font-weight: bold;
    font-family: "Iosevka Web";
}

.instiname {
    font-size: 20px;
    font-weight: bold;
    font-family: "Iosevka Web";
}*/

.tb {
    margin: 0 0 2em 0;
    width: 100%;
}

table tbody tr {
    border: 1px solid black;
    /* Set table border width to solid black */
    border-left: 0;
    border-right: 0;
    text-align: center;
}

table tbody tr:nth-child(2n + 1) {
    background-color: rgba(225, 224, 211, 0.25);
}

table td {
    padding: 0.75em 0.75em;
    font-size: 16px;
    /* Adjust text size */
    border: solid 0.5px black;
    border-collapse: collapse;
}

table th {
    color: #3d4449;
    font-size: 1.2em;
    padding: 0.75em 0.75em 0.75em 0.75em;
    text-align: center;
    vertical-align: bottom;
    font-weight: bold;
    border: 1px solid black;
    background-color: rgb(247, 211, 190);
    border-collapse: collapse;
    /* Set table header border width to solid black */
}

table thead {
    border-bottom: 1px solid black;
    /* Set table header border width to solid black */
}

table tfoot {
    border-top: 1px solid black;
    /* Set table footer border width to solid black */
}

table.alt {
    border-collapse: separate;
}

table.alt tbody tr td {
    border: 1px solid black;
    /* Set alternative table border width to solid black */
    border-left-width: 0;
    border-top-width: 0;
}

table.alt tbody tr td:first-child {
    border-left-width: 1px;
}

table.alt tbody tr:first-child td {
    border-top-width: 1px;
}

table.alt thead {
    border-bottom: 0;
}

table.alt tfoot {
    border-top: 0;
}

.tb .head{
    background-color: rgb(247, 211, 190);
}
.tba {
    height: 500px;
    width: 700px;
    border: 1px solid black;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-top: 10px;
}

.tableimg {

    display: flex;
    gap: 100px;
    margin: auto;
    margin-bottom: 30px;
}